<html>
<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5eaef5dc02.js" crossorigin="anonymous"></script>
</header>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div id="app">
            <div class="mt-3 row">
                <div class="col-4">
                    <div class="list-group overflow-auto">
                        <button type="button" class="list-group-item list-group-item-action text-primary" data-toggle="modal"
                            data-target="#addCarModal">
                            + Ajouter un véhicule
                        </button>
                    </div>
                    <div class="list-group overflow-auto" style="height:273px">
                        <button v-for="car in cars" v-on:click="selectedCar=car" v-bind:class="{active: selectedCar.id == car.id}"
                            type="button" class="list-group-item list-group-item-action">
                            {{car.name}}
                            {{car.price}}
                        </button>
                    </div>
                </div>
                <div class="col-8 border rounded p-3">
                    <div v-if="selectedCar.id==null" class="align-middle text-center text-muted" style="margin-top:20%">
                        Sélectionner un véhicule
                    </div>
                    <div class="p-3 row" v-if="selectedCar.id!=null">
                        <div class="font-weight-bold col-8">
                            {{selectedCar.name}}
                        </div>
                        <div class="col-4 font-weight-bold text-right">
                            <a class="text-primary mr-2" type="button" data-toggle="modal" data-target="#addAvailabilityModal">
                                <i class="far fa-calendar-plus" style="font-size:20px;"></i>
                            </a>
                            <span>{{selectedCar.price}}</span>
                            <span>MAD</span>
                        </div>
                        <input v-on:click="deleteCar()" class="btn btn-danger position-absolute mb-3 mr-5 col-4" style="bottom:0; right:0"
                            type="button" value="Supprimer">
                    </div>
                </div>
            </div>
            <!-- MODAL -->
            <div class="modal fade" id="addCarModal" tabindex="-1" role="dialog" aria-labelledby="addCarModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addCarModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" v-model="addedCar.name">
                            <input type="text" v-model="addedCar.price">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button v-on:click="addCar()" type="button" class="btn btn-primary">Valider</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addAvailabilityModal" tabindex="-1" role="dialog" aria-labelledby="addAvailabilityModal"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addAvailabilityModal">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" v-model="addedCar.name">
                            <input type="text" v-model="addedCar.price">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button v-on:click="addCar()" type="button" class="btn btn-primary">Valider</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-firestore.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>